.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.oe-debug-list {
  .item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
  }

  .status-now{
    background-color: rgb(47, 255, 186);
  }

  .status-wait{
    background-color: rgb(227, 240, 128);
  }

  .status-passed{
    background-color: whitesmoke;
  }

  .item + .item {
    margin-top: 24px;
  }

  .item-info {
    width: 240px;
  }

  .disable-selector{
    pointer-events: none;
  }
}

.o8_selector{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.o8_button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
}