.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 36px;
}

.item {
  width: 100%;
}
.item + .item {
  margin-top: 24px;
}

.imageFrame {
  position: relative;
  max-height: 600px;
  height: calc(100vw - 16px);
  max-width: 600px;
  width: calc(100vw - 16px);
  // overflow: hidden;
}

.image {
  object-fit: cover;
}

.itemInfo {
  margin-top: 8px;
}

.itemName {
  font-size: 0.75rem;
  font-weight: 600;
  color: #252525;
}
.itemDescription {
  margin-top: 2px;
  font-size: 0.75rem;
  color: #919191;
}
